
$font-family-sans-serif: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$primary: #1d1e3e;
$body-bg: $primary;
$body-color: $white;
$dark: $black;
$breadcrumb-bg: $primary;
$breadcrumb-divider-color: $white;
$breadcrumb-active-color: $white;
$link-color: $white;
$light: $white;
$blockquote-small-color: $white;